body
{
    font-family: "lato", sans-serif;
    color: #291f1a;
    font-size: 300rm;
}

nav
{
    text-align: left;
    position: fixed;
    background-color: #ffffff;
    width: 99%;
    text-align: right;
}

#menu>li
{
    display: inline-block;
    text-decoration: none;
    font-size: 300rm;
    color: #1ac056;
    margin: 10px;
}

li:hover
{
    color: brown;
}

#main_header>img 
{
    background-size: cover;
    background-position: center;
}

h1
{
    font-family: "Roboto";
}

.main_header_content
{
    padding: 30vh%;
}